extends layout

block extraHeader
    title TalkingAir Introduction

block content
  body
    include includes/header
    .pagecontainer
      .leftvertical
        div
          h1= t('app.indexH1')
          h2= t('app.indexH2')
        div
          p= t('app.Doesnt')
          p
            #upperbottomleft
              #edison
              #picture
      .squareinhorizontalspring
      .bottomleft
        p(style='padding-left:3vw;width:45vw')= t('app.ourgoal')
        p(style='padding-left:12vw;width:45vw')= t('app.inexpensive')
      .bottomright
        img(src='images/bagota.jpg', alt='Bagota', style='width:80%;height:80%')
        .desc= t('app.howistheairStart')
            a(href=t('app.AQICNref'))=t('app.AQICN')
            != t('app.howistheairEnd')
    include includes/footer
